body{
font-family: "Robot",sans-serif;
background-image: url(/img/background1.jpg);
background-attachment: fixed;
background-size: cover;
}
/* navigation */
.list nav .nav-pills{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}
.navigation .nav-pills{
    text-align: right;
    margin:0.6rem 1rem;
    margin-top: 40px;
}
.navigation .link{
    color:rgb(255, 255, 255);
}
.navigation .link1{
    color:rgb(255, 255, 255);
}
.navigation .link-activi{
    font-weight: bold;
}
.nav-brand a{
    text-decoration: none;
    color: inherit;
}
.list-item-inline a{
    text-decoration: none;
    font-family:Arial Black;
}
.img{
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    position:absolute;
}
.photo{
    position: absolute;
    left: 60%;
    top: 15%;
}

#header{
    height: 40px;
    width: 100px;
    position: absolute;
    font-size: 45px;
    color: beige;
    font-weight: bolder;
    margin-left: 100px;
    margin-top: -20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* CONTENT */

#data-details {
    font-size: 28px;
    margin-left: 300px;
    margin-top: 200px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    color: wheat;
}
.link-1{
    background-color: white;
    max-width: 100px;
    padding: 0.6rem 1.2rem;
    color: rgb(202, 28, 28);
    margin: 1rem auto;
    margin-left: 200px;
    margin-left: 5px;
}
.link-2{
    background-color:white ;
    max-width: 100px;
    padding: 0.6rem 1.2rem;
    color:rgb(202, 28, 28);
    margin: 1rem auto;
    border: 50px;
}